@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: #1f2730;
}

.app-outer-wrapper {
  margin-top: 40vh;
  margin-left: 10vw;
  margin-right: 10vw;
  display: center;

  font-family: "Poppins", sans-serif;
  font-size: 2.5vw;

  color: #edffed;
}
